<div class="container">
<% include ../partials/header %>
    <div class="col-md-4" style="float: left; padding-left: 0px; padding-right: 0px;">
        <div class="well">
            <img class="img-responsive" style="width: 100%" src="<%= campground.image %>">            
            <h4 style="margin: 0" class="pull-right">$<%=campground.price%> / night</h4>
            <h4><a><%= campground.name %></a></h4>
            <p style="margin-left: 0;"><%= campground.description %></p>
            <p style="margin-left: 0;"><sub><em>Found by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></sub></p></em>
            <% if (typeof(currentUser) != 'undefined') { %>
                <% if (currentUser.id == campground.author.id) { %>
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form id="delete-buttons" action="/campground/<%=campground._id%>?_method=delete" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% } %>
            <% } %>
            <a class="btn btn-primary" href="/campgrounds">All Campgrounds</a>
        </div>
    </div>
    <% if (typeof(currentUser) != 'undefined' || campground.comments.author != null) { %>
    <div class="col-md-4" style="float: right; padding-left: 0px; padding-right: 0px">
        <div class="well">
                <% if(typeof(currentUser) != 'undefined') { %>
                <div class="text-right">
                    <a style="padding-top: 8px; padding-bottom: 8px" 
                        class="btn btn-xs btn-success btn-block" 
                        href="/campgrounds/<%=campground._id%>/comments/new">
                        Add Comment
                    </a>
                </div>
                <hr>
            <% } %>
            <% campground.comments.forEach(function(comment) { %>                
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-left: 0"><%= comment.text %></h4></p>
                        <p style="margin-left: 0; margin-bottom: 0; font-size: 15px"><em><strong>Posted By: </strong><%= comment.author.username %>, <%= moment(campground.createdAt).fromNow() %></em></p>
                        <hr style="margin-top: 0; border-top: 1px solid #b6b6b6">
                        <% if(typeof(currentUser) != 'undefined') { %>
                            <% if(currentUser.id == comment.author.id) { %>
                                <div class="inlineButtons">
                                    <div class="row">
                                        <div class="col-md-6" style="padding-right: 3px">
                                            <a href="/comments/<%=comment._id%>/editComments" class="btn btn-xs btn-warning btn-block">Edit Comment</a>
                                        </div>
                                        <div class="col-md-6" style="padding-left: 3px">
                                            <form id="delete-buttons" action="/comments/<%=comment._id%>?_method=delete" method="post">
                                                <button class="btn btn-xs btn-danger btn-block">Delete Comment</button>
                                            </form>
                                        </div>
                                    </div>                           
                                </div>
                                <hr style="margin-top: 10px; margin-bottom: 10px">
                            <% } %>
                        <% } %>
                    </div>
                    </div>
            <% }) %>
        </div>
    </div>
    <% } %>
    
<% include ../partials/footer %>
