<div class="container">
<% include ../partials/header %>
    <div class="col-md-4" style="float: left; padding-left: 0px; padding-right: 0px;">
        <div class="well">
            <img class="img-responsive" style="width: 100%" src="<%= campground.image %>">            
            <h4 class="pull-right">$9.00 / night</h4>
            <h4><a><%= campground.name %></a></h4>
            <p><%= campground.description %></p>
            <p><sub><em>Found by: <%= campground.author.username %></sub></p></em></p>
            <% if (typeof(currentUser) != 'undefined') { %>
                <% if (currentUser.id == campground.author.id) { %>
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form id="delete-buttons" action="/campground/<%=campground._id%>?_method=delete" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% } %>
            <% } %>
            <a class="btn btn-primary" href="/campgrounds">All Campgrounds</a>
        </div>
    </div>
    <div class="col-md-4" style="float: right; padding-left: 0px; padding-right: 0px">
        <div class="well">
            <% if(typeof(currentUser) != 'undefined') { %>
                <div class="text-right">
                    <a style="padding-top: 8px; padding-bottom: 8px" 
                        class="btn btn-xs btn-success btn-block" 
                        href="/campgrounds/<%=campground._id%>/comments/new">
                        Add Comment
                    </a>
                </div>
                <hr>
            <% } %>
            <% campground.comments.forEach(function(comment) { %>                
                <div class="row">
                    <div class="col-md-12">
                        <strong>Posted By: </strong><%= comment.author.username %>
                        <span class="pull-right">10 days ago</span>
                        <p><%= comment.text %></h4></p>
                        <% if(typeof(currentUser) != 'undefined') { %>
                            <% if(currentUser.id == comment.author.id) { %>
                                <div class="inlineButtons">
                                    <div class="row">
                                        <div class="col-md-6" style="padding-right: 3px">
                                            <a href="/comments/<%=comment._id%>/editComments" class="btn btn-xs btn-warning btn-block">Edit Comment</a>
                                        </div>
                                        <div class="col-md-6" style="padding-left: 3px">
                                            <form id="delete-buttons" action="/comments/<%=comment._id%>?_method=delete" method="post">
                                                <button class="btn btn-xs btn-danger btn-block">Delete Comment</button>
                                            </form>
                                        </div>
                                    </div>                           
                                </div>
                                <hr style="margin-top: 10px; margin-bottom: 10px">
                            <% } %>
                        <% } %>
                    </div>
                    </div>
            <% }) %>
        </div>
    </div>
    
<% include ../partials/footer %>
